// ****************************
// ASIGNACION DE COLORES
// ****************************

$principal:#419A1C;
$secundario:#384452;
$terciario:#BBFF9C;
$texto: #000000;

/*-----------------------------
1. TIPOGRAFIA
-------------------------------*/ 
html{
    font-size: 62.5%;    /* Normalizar para REMS */
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    color:$texto;
}
/* Principales */
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}


/*-----------------------------
2. ESTILOS BOTONES
-------------------------------*/ 
.boton{
    font-size: 1.8rem;
    color: $terciario;       
    background-color: $principal;
    padding: 1rem 3rem;
    margin-top: 1.5rem;    
    border: black;
    border-style: dotted;
    border-radius: 3rem;
}

/*-----------------------------
3. ESTILOS COLOR PRINCIPAL
-------------------------------*/ 
.bg-primary{
    background-color: $principal !important;
}
.text-primary{
    color: $principal !important;
}

/*-----------------------------
4. ESTILOS COLOR SECUNDARIO
-------------------------------*/ 
.bg-secondary{
    background-color: $secundario !important;
}
.text-secondary{
    color: $secundario !important;
}

.bg-success{
    background-color: $terciario !important;
}
.text-success{
    color: $terciario !important;
}

/*-----------------------------
5. ESTILOS ENCABEZADO
-------------------------------*/ 
.redes-sociales li a i{
    color: $terciario; 
    font-size: 2rem;  
    padding-left: 1rem;
    padding-top: 0.5rem;
    opacity: .5;
    transition: all .3s ease-in-out;
}

.redes-sociales li a i:hover{
    opacity: 1;
    transform: scale(1.5) rotate(360deg);
}

/*-----------------------------
5. ESTILOS MENÚ NAVEGACIÓN
-------------------------------*/ 
.navbar-nav li a{
    font-size: 1.8rem;
    color: $terciario !important;
    padding-right: 3rem !important;
    opacity: 1;
}

.navbar-nav li a:hover{
    opacity: 0.5;
}

#datos-generales span{
    font-size: 1.8rem;
}

/*=========================
 6. ANIMACIÓN anime.js 
 ==========================*/
#animacion{
    height: 34rem;    
    background: $principal;
    overflow: hidden;
}

// .text-1{
//     font-size: 11rem;
//     color:$terciario;
//     -webkit-box-reflect: below -8.5rem linear-gradient(transparent,$principal);
// }
.text-1{
    font-size: 5rem;
    color:$terciario;
    -webkit-box-reflect: below -4rem linear-gradient(transparent,$principal);
}

.text-1 span{        
    display: inline-block;
}

// .text-2{
//     font-size: 5rem;
//     color:$terciario;
//     text-shadow: -0.1rem 0.4rem .2rem $secundario;     
// }
.text-2{
    font-size: 3rem;
    color:$secundario;
    text-shadow: -0.1rem 0.4rem .2rem $terciario;     
}

.text-2 span{        
    display: inline-block;
}

/*=========================
 7. ESTILOS SECCIONES
 ==========================*/
.card-body i{
    text-shadow: -.2rem -.4rem .1rem black;
}
.razones{
    border:none;
}

/*=========================
 8. ESTILOS SECCIÓN PRINCIPAL
 ==========================*/
.servicios{
    border: none;
}

#pie a{
    color: $terciario; 
    font-size: 1.6rem;  
    padding-left: 1rem;
    padding-top: 0.5rem;    
    text-decoration: none;
}


/*=========================
 9. @media QUERIES
 ==========================*/
//  @media only screen and (max-width: 600px) {
//     .text-1{
//         font-size: 5rem;
//         -webkit-box-reflect: below -4rem linear-gradient(transparent,$principal); 
//     }
//   }

@media only screen and (min-width: 768px) {
    .text-1{
        font-size: 11rem;
        // color:$secundario;
        -webkit-box-reflect: below -8.5rem linear-gradient(transparent,$principal); 
    }
    .text-2{
        font-size: 6rem;            
        // color: blue;
        // text-shadow: -0.1rem 0.4rem .2rem $terciario;       
    }
}


@media only screen and (min-width: 576px) {  
    #animacion{
        background-color: red;
    }    
}