@charset "UTF-8";
/*-----------------------------
1. TIPOGRAFIA
-------------------------------*/
html {
  font-size: 62.5%;
  /* Normalizar para REMS */
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  color: #000000;
}

/* Principales */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
}

/*-----------------------------
2. ESTILOS BOTONES
-------------------------------*/
.boton {
  font-size: 1.8rem;
  color: #BBFF9C;
  background-color: #419A1C;
  padding: 1rem 3rem;
  margin-top: 1.5rem;
  border: black;
  border-style: dotted;
  border-radius: 3rem;
}

/*-----------------------------
3. ESTILOS COLOR PRINCIPAL
-------------------------------*/
.bg-primary {
  background-color: #419A1C !important;
}

.text-primary {
  color: #419A1C !important;
}

/*-----------------------------
4. ESTILOS COLOR SECUNDARIO
-------------------------------*/
.bg-secondary {
  background-color: #384452 !important;
}

.text-secondary {
  color: #384452 !important;
}

.bg-success {
  background-color: #BBFF9C !important;
}

.text-success {
  color: #BBFF9C !important;
}

/*-----------------------------
5. ESTILOS ENCABEZADO
-------------------------------*/
.redes-sociales li a i {
  color: #BBFF9C;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  opacity: .5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.redes-sociales li a i:hover {
  opacity: 1;
  -webkit-transform: scale(1.5) rotate(360deg);
          transform: scale(1.5) rotate(360deg);
}

/*-----------------------------
5. ESTILOS MENÚ NAVEGACIÓN
-------------------------------*/
.navbar-nav li a {
  font-size: 1.8rem;
  color: #BBFF9C !important;
  padding-right: 3rem !important;
  opacity: 1;
}

.navbar-nav li a:hover {
  opacity: 0.5;
}

#datos-generales span {
  font-size: 1.8rem;
}

/*=========================
 6. ANIMACIÓN anime.js 
 ==========================*/
#animacion {
  height: 34rem;
  background: #419A1C;
  overflow: hidden;
}

.text-1 {
  font-size: 5rem;
  color: #BBFF9C;
  -webkit-box-reflect: below -4rem linear-gradient(transparent, #419A1C);
}

.text-1 span {
  display: inline-block;
}

.text-2 {
  font-size: 3rem;
  color: #384452;
  text-shadow: -0.1rem 0.4rem 0.2rem #BBFF9C;
}

.text-2 span {
  display: inline-block;
}

/*=========================
 7. ESTILOS SECCIONES
 ==========================*/
.card-body i {
  text-shadow: -.2rem -.4rem .1rem black;
}

.razones {
  border: none;
}

/*=========================
 8. ESTILOS SECCIÓN PRINCIPAL
 ==========================*/
.servicios {
  border: none;
}

#pie a {
  color: #BBFF9C;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  text-decoration: none;
}

/*=========================
 9. @media QUERIES
 ==========================*/
@media only screen and (min-width: 768px) {
  .text-1 {
    font-size: 11rem;
    -webkit-box-reflect: below -8.5rem linear-gradient(transparent, #419A1C);
  }
  .text-2 {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 576px) {
  #animacion {
    background-color: red;
  }
}
/*# sourceMappingURL=estilos.css.map */